Checks: '*,-fuchsia-*,-cppcoreguidelines-avoid-magic-numbers,-*-non-private-member-variables-in-classes,-*-special-member-functions,-*-signed-bitwise,-*-pro-bounds-constant-array-index,-*-magic-numbers,-*-pro-type-union-access,-*-pro-type-reinterpret-cast,-google-runtime-references,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-hicpp-no-array-decay,-google-readability-casting,-*-vararg,-google-explicit-constructor,-hicpp-explicit-conversions'