[submodule "external/glm"]
	path = external/glm
	url = git://github.com/g-truc/glm.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/tinyobjloader"]
	path = external/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader
[submodule "external/tinygltf"]
	path = external/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "external/gli"]
	path = external/gli
	url = https://github.com/g-truc/gli
[submodule "external/vma"]
	path = external/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "external/GSL"]
	path = external/GSL
	url = https://github.com/Microsoft/GSL
